# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
.cache
.coverage
.nox/

# Translations
*.mo
*.pot

# pyenv
.python-version

# mypy
.mypy_cache/

# Pytype
.pytype/

# IDEs
.idea/
.vscode/
